*{
	font-family:  Helvetica, serif;
	font-weight: 300;
	scroll-behavior: smooth;
	letter-spacing: 0.1em;
}


html{
	scroll-behavior: smooth;
}

.main-wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.fullscreen{
	flex: 1 1;
}

.lock{
	overflow: hidden;
}