.about {
	display: flex;
	flex-direction: column;
	&__wrapper {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto;
		padding: 0 63px 263px 143px;
		margin: 0 auto;
		flex: 1 1;
		height: 100%;
		align-items: flex-start;
	}

	&__photo-wrapper {
	}

	&__text-wrapper {
		margin-left: 90px;
		margin-top: 56px;
		max-width: 900px;
	}
	&__photo-img{
		object-fit: contain;
		width: 100%;
		height: 100%;
	}
	&__title {
		font-weight: bold;
		font-size: 22px;
		line-height: 25px;
		letter-spacing: 0.1em;
	}
	&__discription {
		margin-top: 30px;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0.1em;
	}
	&__discription-link{
		color: #000000;
		position: relative;
	}
	&__discription-link.underline{
		border-bottom: 1px solid #000000;
	}

	&__discription:first-of-type {
		margin-top: 24px;
	}
}


@media(max-width: 1350px){

	.about{
		&__photo-img {
			width: auto;
			height: 700px;
		}
		&__text-wrapper {
			margin-left: 54px;
		}
		&__wrapper {
			padding: 0 63px 263px 90px;
		}
	}
}

@media(max-width: 1100px){

	.about{
		&__photo-img {
			width: auto;
			height: 550px;
		}
		&__text-wrapper {
			margin-top: 26px;
			margin-left: 47px;
		}
		&__wrapper {
			padding: 0 63px 120px 63px;
		}
	}
}

@media(max-width: 992px){

	.about{
		&__wrapper {
			padding: 0 39px;
			grid-template-columns: 1fr;
			grid-template-rows: auto auto;
		}
		&__photo-wrapper {
			grid-row: 2 / 3
		}
	
		&__text-wrapper {
			grid-row: 1 / 2;
			margin-left: 0px;
		}
		&__photo-img {
			margin-top: 40px;
			width: 100%;
			height: 100%;
		}
	}
}