.collection {
	padding-bottom: 69px;

	&__wrapper {
		display: flex;
	}

	//---------product 1-----------
	&__grid.product_1 {
		flex: 1 1 64%;
		display: grid;
		grid-template-columns: repeat(30, 1fr);
		grid-template-rows: repeat(30, auto);
		gap: 1px;
	}
	&__grid-item.product_1.img-1{
		grid-column: 1 / 13;
		grid-row: 1 / 16;
	}
	&__grid-item.product_1.img-2 {
		grid-column: 13 / 22;
		grid-row: 1 /13;
	}
	&__grid-item.product_1.img-3 {
		grid-column: 22 / 31;
		grid-row: 1 / 13;
	}
	&__grid-item.product_1.img-4 {
		grid-column: 1 / 13;
		grid-row: 16 / 28;
	}
	&__grid-item.product_1.img-5 {
		grid-column: 13 / 23;
		grid-row: 13 / 24;
	}
	&__grid-item.product_1.img-6 {
		grid-column: 23 / 29;
		grid-row: 13 / 21;
	}
	&__grid-item.product_1.img-7 {
		grid-column: 13 / 21;
		grid-row: 24 / 31;
	}
	//---------product 2-----------

	&__grid.product_2 {
		flex: 1 1 64%;
		display: grid;
		grid-template-columns: repeat(30, 1fr);
		grid-template-rows: repeat(30, auto);
		gap: 1px;
	}
	&__grid-item.product_2.img-1{
		grid-column: 1 / 10;
		grid-row: 1 / 8;
	}
	&__grid-item.product_2.img-2 {
		grid-column: 10 / 30;
		grid-row: 1 /8;
	}
	&__grid-item.product_2.img-3 {
		grid-column: 1 / 14;
		grid-row: 8 /15
	}
	&__grid-item.product_2.img-4 {
		grid-column: 14 / 22;
		grid-row: 8 / 16;
	}
	&__grid-item.product_2.img-5 {
		grid-column: 22 / 31;
		grid-row: 8 / 16;
	}
	&__grid-item.product_2.img-6 {
		grid-column: 1 / 14;
		grid-row: 15 / 31;
	}
	&__grid-item.product_2.img-7 {
		grid-column: 14 / 21;
		grid-row: 16 / 23;
	}
	&__grid-item.product_2.img-8 {
		grid-column: 21 / 27;
		grid-row: 16 / 21;
	}
	//---------product 3-----------

	&__grid.product_3 {
		flex: 1 1 64%;
		display: grid;
		grid-template-columns: repeat(30, 1fr);
		grid-template-rows: repeat(30, auto);
		gap: 1px;
	}
	&__grid-item.product_3.img-1{
		grid-column: 1 / 21;
		grid-row: 1 / 9;
	}
	&__grid-item.product_3.img-2 {
		grid-column: 21 / 31;
		grid-row: 1 /9;
	}
	&__grid-item.product_3.img-3 {
		grid-column: 1 / 11;
		grid-row: 9 / 20
	}
	&__grid-item.product_3.img-4 {
		grid-column: 11 / 25;
		grid-row: 9 / 20;
	}
	&__grid-item.product_3.img-5 {
		grid-column: 1 / 20;
		grid-row: 20 / 31;
	}

	//---------product 4-----------

	&__grid.product_4 {
		flex: 1 1 64%;
		display: grid;
		grid-template-columns: repeat(30, 1fr);
		grid-template-rows: repeat(30, auto);
		gap: 1px;
	}
	&__grid-item.product_4.img-1{
		grid-column: 1 / 15;
		grid-row: 1 / 9;
	}
	&__grid-item.product_4.img-2 {
		grid-column: 15 / 29;
		grid-row: 1 /9;
	}
	&__grid-item.product_4.img-3 {
		grid-column: 1 / 18;
		grid-row: 9 / 18
	}
	&__grid-item.product_4.img-4 {
		grid-column: 18 / 30;
		grid-row: 9 / 20;
	}
	&__grid-item.product_4.img-5 {
		grid-column: 1 / 18;
		grid-row: 18 / 31;
	}
	&__grid-item.product_4.img-6 {
		grid-column: 18 / 31;
		grid-row: 20 / 28;
	}

	//---------product 5-----------

	&__grid.product_5 {
		flex: 1 1 64%;
		display: grid;
		grid-template-columns: repeat(30, 1fr);
		grid-template-rows: repeat(30, auto);
		gap: 1px;
	}
	&__grid-item.product_5.img-1{
		grid-column: 1 / 11;
		grid-row: 1 / 8;
	}
	&__grid-item.product_5.img-2 {
		grid-column: 11 / 31;
		grid-row: 1 /8;
	}
	&__grid-item.product_5.img-3 {
		grid-column: 1 / 15;
		grid-row: 8 / 14
	}
	&__grid-item.product_5.img-4 {
		grid-column: 15 / 29;
		grid-row: 8 / 22;
	}
	&__grid-item.product_5.img-5 {
		grid-column: 1 / 15;
		grid-row: 14 / 28;
	}
	&__grid-item.product_5.img-6 {
		grid-column: 15 / 26;
		grid-row: 22 / 31;
	}

	//---------product 6-----------

	&__grid.product_6 {
		flex: 1 1 64%;
		display: grid;
		grid-template-columns: repeat(30, 1fr);
		grid-template-rows: repeat(30, auto);
		gap: 1px;
	}
	&__grid-item.product_6.img-1{
		grid-column: 1 / 20;
		grid-row: 1 / 8;
	}
	&__grid-item.product_6.img-2 {
		grid-column: 20 / 29;
		grid-row: 1 /8;
	}
	&__grid-item.product_6.img-3 {
		grid-column: 1 / 12;
		grid-row: 8 / 14
	}
	&__grid-item.product_6.img-4 {
		grid-column: 12 / 31;
		grid-row: 8 / 14;
	}
	&__grid-item.product_6.img-5 {
		grid-column: 1 / 11;
		grid-row: 14 / 28;
	}
	&__grid-item.product_6.img-6 {
		grid-column: 11 / 26;
		grid-row: 14 / 31;
	}

	//---------product 7-----------

	&__grid.product_7 {
		flex: 1 1 64%;
		display: grid;
		grid-template-columns: repeat(30, 1fr);
		grid-template-rows: repeat(30, auto);
		gap: 1px;
	}
	&__grid-item.product_7.img-1{
		grid-column: 1 / 10;
		grid-row: 1 / 8;
	}
	&__grid-item.product_7.img-2 {
		grid-column: 10 / 31;
		grid-row: 1 /8;
	}
	&__grid-item.product_7.img-3 {
		grid-column: 1 / 20;
		grid-row: 8 / 14
	}
	&__grid-item.product_7.img-4 {
		grid-column: 20 / 29;
		grid-row: 8 / 14;
	}
	&__grid-item.product_7.img-5 {
		grid-column: 1 / 11;
		grid-row: 14 / 28;
	}
	&__grid-item.product_7.img-6 {
		grid-column: 11 / 25;
		grid-row: 14 / 31;
	}

		//---------product 8-----------

		&__grid.product_8 {
			flex: 1 1 64%;
			display: grid;
			grid-template-columns: repeat(30, 1fr);
			grid-template-rows: repeat(30, auto);
			gap: 1px;
		}
		&__grid-item.product_8.img-1{
			grid-column: 1 / 13;
			grid-row: 1 / 15;
		}
		&__grid-item.product_8.img-2 {
			grid-column: 13 / 31;
			grid-row: 1 /15;
		}
		&__grid-item.product_8.img-3 {
			grid-column: 1 / 12;
			grid-row: 15 / 31
		}
		&__grid-item.product_8.img-4 {
			grid-column: 12 / 22;
			grid-row: 15 / 41;
		}
		&__grid-item.product_8.img-5 {
			grid-column: 22 / 30;
			grid-row: 15 / 21;
		}

		//---------product 9-----------

		&__grid.product_9 {
			flex: 1 1 64%;
			display: grid;
			grid-template-columns: repeat(30, 1fr);
			grid-template-rows: repeat(30, auto);
			gap: 1px;
		}
		&__grid-item.product_9.img-1{
			grid-column: 1 / 21;
			grid-row: 1 / 15;
		}
		&__grid-item.product_9.img-2 {
			grid-column: 21 / 31;
			grid-row: 1 /15;
		}
		&__grid-item.product_9.img-3 {
			grid-column: 1 / 13;
			grid-row: 15 / 31
		}
		&__grid-item.product_9.img-4 {
			grid-column: 13 / 29;
			grid-row: 15 / 22
		}

		//---------product 10-----------

		&__grid.product_10 {
			flex: 1 1 64%;
			display: grid;
			grid-template-columns: repeat(30, 1fr);
			grid-template-rows: repeat(30, auto);
			gap: 1px;
		}
		&__grid-item.product_10.img-1{
			grid-column: 1 / 16;
			grid-row: 1 / 15;
		}
		&__grid-item.product_10.img-2 {
			grid-column: 16 / 31;
			grid-row: 1 /15;
		}
		&__grid-item.product_10.img-3 {
			grid-column: 1 / 11;
			grid-row: 15 / 31
		}
		&__grid-item.product_10.img-4 {
			grid-column: 11 / 30;
			grid-row: 15 / 27
		}

		//---------product 10-----------

		&__grid.product_11 {
			flex: 1 1 64%;
			display: grid;
			grid-template-columns: repeat(30, 1fr);
			grid-template-rows: repeat(30, auto);
			gap: 1px;
		}
		&__grid-item.product_11.img-1{
			grid-column: 1 / 21;
			grid-row: 1 / 14;
		}
		&__grid-item.product_11.img-2 {
			grid-column: 21 / 31;
			grid-row: 1 / 14;
		}
		&__grid-item.product_11.img-3 {
			grid-column: 1 / 18;
			grid-row: 14 / 31;
		}
		&__grid-item.product_11.img-4 {
			grid-column: 18 / 29;
			grid-row: 14 / 26;
		}










	&__grid-img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__discription {
		padding-right: 10px;
		margin-top: 54px;
		margin-left: 54px;
		flex: 1 1 20%;
	}

	&__title {
		font-weight: bold;
		font-size: 22px;
		line-height: 25px;
		letter-spacing: 0.1em;
	}
	&__text{
		margin-top: 23px;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0.1em;
	}
	&__btn{
		margin-top: 53px;
	}
}
