.collection-galery{
	&__container{
		padding: 50px 68px 64px 68px;
		margin: 0 auto;
		display: grid;
		row-gap: 107px;
	}
	&__title{
		font-weight: bold;
		font-size: 14px;
		letter-spacing: 0.1em;
	}
	&__grid{
		margin-top: 32px;
		display: grid;
		grid-template-columns: repeat(auto-fill, (360px));
		grid-auto-flow: row;
		column-gap:20px;
		row-gap: 40px;
		justify-content: center;
	}
}
.collection-galery>.collection-galery__title:first-of-type{
	margin-top: 0;
}

@media(max-width: 530px){
	.collection-galery{
		&__container{
			padding: 50px 0px 64px 0px;
		}
		&__grid{
			grid-template-columns: 1fr;
		}
		&__title{
			margin-left: 30px;
		}
	}
}

