.footer {
	padding: 0 156px 91px 140px;
	&__divider {
		height: 1px;
		background-color: #000000;
	}
	&__flex-wrapper {
		margin-top: 33px; 
		display: flex;
		justify-content: space-between;
	}
	&__flex-group-wrapper {
		display: flex;
		align-items: center;
	}
	&__flex-group-wrapper.mobile {
		display: none;
	}
	&__flex-group-wrapper.email-wrapper {
		cursor: pointer;
	}
	&__flex-group-wrapper:first-child {
		margin-left: 4px;
	}
	&__flex-item.mobile{
		display: none;
	}
	&__flex-item.email-text {
		margin-left: 15px;
	}
	&__flex-item-text {
		font-size: 22px;
		line-height: 25px;
		letter-spacing: 0.1em;
		position: relative;
		color: #000000;
		&::after{
			content:'';
			height: 1px;
			width: 98%;
			position: absolute;
			background: #000;
			bottom:1px;
			right: 2px;
		}
	}
	&__img-wrapper {
		margin-left: 24px;
	}
	&__img-wrapper:first-child {
		margin-left: 0px;
	}

	&__location {
		margin-top: 11px;
		font-size: 12px;
		line-height: 20px;
		letter-spacing: 0.1em;
	}
	&__site-owner {
		margin-top: 148px;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.1em;
	}
}


@media(max-width: 1655px){
	.footer {
		padding: 0 68px 56px 68px;
	}
}

@media(max-width: 640px){
	.footer {
		padding: 0 45px 53px 49px;
		&__divider {
			display: none;
		}
		&__flex-group-wrapper.pc {
			display: none;
		}
		&__flex-group-wrapper.mobile {
			display: flex;
			margin-top: 33px;
		}
		&__site-owner {
			margin-top: 91px;
		}
		&__flex-item.mobile{
			display: block;
		}
	}
}

@media(max-width: 500px){
	.footer {
		padding: 0 30px 53px 30px;
		&__flex-item-text {
			font-size: 15px;
		}
		&__site-owner {
			margin-top: 25px;
	  }
	}
}