.menu{
	display: flex;
	&__links-wrapper {
		display: flex;  
		align-items: center;
	}

	&__link-wrapper {
		margin-right: 38px;
		padding: 20px 0;
	}
	&__link-wrapper.dropdown-wrapper {
		position: relative;
	}
	&__link-wrapper.dropdown-wrapper:hover  &__collection-dropdown{
		display: flex;
	}
	&__link-wrapper.divider{
		position: relative;
	}
	&__link-wrapper.divider::after{
		content:'';
		position: absolute;
		height: 17px;
		width: 1px;
		background-color: #000000;
		top: 50%;
		transform: translateY(-50%);
	}
	&__link-wrapper.active{
		font-weight: bold;
	}
	&__link-wrapper.laguage {
		margin-left: 35px;
	}

	&__link {
		font-weight: inherit;
	}

	&__link-text {
		color: #000000;
		font-family: 'Rubik';
		font-weight: inherit;
	}
	&__collection-dropdown{
		top: 45px;
		position: absolute;
		background: #FFFFFF;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
		padding: 20px;
		display: none;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 35px;
		width: 224px;
		z-index: 100;
	}
	&__collection-dropdown:hover{
		display: flex;
	}
	&__collection-dropdown-item span{
		font-family: Rubik;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
	&__collection-dropdown-item span:hover{
		font-weight: 500;
	}
	
}
.menu-mobile{
	display: none;
}

@media(max-width: 992px){
	.menu{
		display: none;
		&__collection-dropdown{
			position: static;
			box-shadow:none;
			display: block;
			padding: 0;
			width: auto;
		}
		&__collection-dropdown-item span:hover{
			font-weight: 300;
		}

		&__collection-dropdown span{
			font-size: 30px;
			text-transform: none;
			white-space: nowrap;
		}
		&__link-wrapper.dropdown-wrapper {
			position: static;
		}
	}
	.submenu{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #FFFFFF;
		z-index: 200;
		transform: translateX(100%);
		transition: all 1s;
		&__activator{
			cursor: pointer;
			font-weight: inherit;
		}
		&__wrapper-item{
			padding: 20px 0px;
			cursor: pointer;
			text-align: center;
		}
		&__wrapper{
			width: 260px;
		}
	}
	.submenu.active{
		transform: translateX(0%);
	}
	

	.menu-mobile{
		display: flex;
		z-index: 1;
		position: fixed;
		flex-direction: column;
		justify-content: center;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgb(255, 255, 255);
		transition: all 0.5s;
		transform: translateY(-100%);
		height: 100%;
		&__link-wrapper.divider::after{
			content:'';
			position: absolute;
			width: 45px;
			height: 1px;
			background-color: #000000;
			top: 50%;
			transform: translateX(-50%);
		}
		&__links-wrapper {
			flex-direction: column;
			text-align: center;
			font-size: 30px;
			row-gap: 0px;
		}
		&__links-wrapper:last-of-type {
			margin-top: 50px;
		}
		&__link-wrapper{
			margin-right: 0;
		}
		&__link-wrapper.divider{
			width: 140px;
			height: 2px;
			margin: 0 auto;
			position: relative;
		}
		&__menu__link{
			padding: 10px 0;
		}
	}

	.menu-mobile.active{
		transform: translateY(0);
	}
	
}

